{% extends 'account/base.html' %}

{% block content %}
<div class="main-w3layouts wrapper">
    <h1>Job Portal SignUp Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                {% csrf_token %}
                {% comment %} <input class="text" type="text" name="username" placeholder="Username" required=""> {% endcomment %}
                {{ form.username }}
                {% comment %} <input class="text email" type="email" name="email" placeholder="Email" required=""> {% endcomment %}
                {{ form.email }}
                {% comment %} <input class="text" type="password" name="password" placeholder="Password" required=""> {% endcomment %}
                {{ form.password1 }}
                {% comment %} <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required=""> {% endcomment %}
                {{ form.password2 }}
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>I Agree To The Terms & Conditions</span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="SIGNUP">
            </form>
            <p>Already have an Account? <a href="{% url 'login' %}"> Login</a></p>
        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2022 Ernesto Junior Signup Form. All rights reserved</p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock content %}