{% extends 'account/home.html' %}


{% block content %}

<ul>
    <table class="table table-striped table-hover mt-3 bg-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Company Name</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Apply</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.company_name }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.salary }}</td>
                <td><a href="#" class="btn btn-outline-info">Apply</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


   
</ul>
{% endblock content %}